<h4>Shipping List</h4>


<div id="tabbed">
	<tabs>

		<tab name="UnShipped Orders" v-bind:selected="true">

			  <table class="table table-striped">
			    <thead>
			      <tr>
			        <th width="100">Date</th>
			        <th width="225">Customer</th>
			        <th width="225">Recipient</th>
			        <th width="225">Items</th>
			        <th width="225">Address</th>			        
			      </tr>
			    </thead>
			    <tbody>
			      <% @unshipped_orders.each do |order| %>
			        <tr>
			          <td><%= link_to order.date.strftime('%m/%d/%y'), order_path(order) %></td>
			          <td><%= order.customer.name %></td>
			          <td><%= link_to order.address.recipient, address_path(order.address) %></td>
					  <% @allitems = "" 
              			OrderItem.all.where(order_id: order.id).each do |oi|
                		@allitems = @allitems + oi.item.name + ", "
              		  end %>
          			  <td><%= @allitems[0,@allitems.size - 2] %></td>
			          <td><%= render :partial => "partials/address_info", locals: {address: order.address} %></td>
			        </tr>
			      <% end %>
			    </tbody>
			  </table>
			<%= will_paginate @unshipped_orders, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  


		</tab>

		<tab name="Already Shipped Orders">

			  <table class="table table-striped">
			    <thead>
			      <tr>
			        <th width="100">Date</th>
			        <th width="225">Customer</th>
			        <th width="225">Recipient</th>
			        <th width="225">Items</th>
			        <th width="225">Address</th>			        
			      </tr>
			    </thead>
			    <tbody>
			      <% @shipped_orders.each do |order| %>
			        <tr>
			          <td><%= link_to order.date.strftime('%m/%d/%y'), order_path(order) %></td>
			          <td><%= order.customer.name %></td>
			          <td><%= link_to order.address.recipient, address_path(order.address) %></td>
					  <% @allitems = "" 
              			OrderItem.all.where(order_id: order.id).each do |oi|
                		oi.item.name + ", "
              		  end %>
          			  <td><%= @allitems[0,@allitems.size - 2] %></td>
			          <td><%= render :partial => "partials/address_info", locals: {address: order.address} %></td>
			        </tr>
			      <% end %>
			    </tbody>
			  </table>
			<%= will_paginate @shipped_orders, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  


		</tab>
	</tabs>
</div>

