<h3><%= @customer.proper_name %></h3>

<p>
  <b>Username</b>: <%= current_user.username %>
</p>

<p>
  <b>Phone</b>: <%= number_to_phone @customer.phone %>
</p>

<p>
  <b>Email</b>: <%= mail_to @customer.email, @customer.email, encode: "javascript" %>
</p>

<p>
  <b>Billing Address</b>:<br> <%= render :partial => "partials/address_info", locals: {address: @customer.addresses.billing.first} %>
</p>

<p>
  <b>Been a Baking Factory customer since: </b>: <%= @customer.created_at.strftime('%m/%d/%y') %>
</p>